@model WebAppMVC.Models.Assignment

@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>EmployeeDetails</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OB1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OB1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OB2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OB2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Karens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Karens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SickLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SickLeave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vacation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vacation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VacationCompensation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacationCompensation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPSLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPSLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EmployeeEdit", new { id = Model.AssignmentID }) |

    @{
        if (HttpContext.Current.Request.Cookies["sitecookies"] != null)
        {
            var ID = Request.Cookies["sitecookies"]["Email"].ToString();
            var emp_id = Convert.ToInt32(ID);
            @Html.ActionLink("Back to List", "EmployeeIndex/" + emp_id, "Assignments")
        }
    }
</p>
